@use './utilities' as *
@use './abstract' as *
@use './components' as *

*
  font-family: 'Heebo'
  box-sizing: border-box

body
  // background-color: $background
  min-height: 150svh

main
  margin-inline: auto

@media (min-width: 764px)
  main
    // max-width: 800px 
