$golden-700: hsl(41, 90%, 25%);
$golden-600: hsl(41, 86%, 35%);
$golden-500: hsl(41, 83%, 45%);
$golden-400: hsl(41, 80%, 56%);
$golden-300: hsl(41, 88%, 67%);
$golden-200: hsl(41, 87%, 78%);
$golden-100: hsl(41, 100%, 87%);


$steelblue-600: hsl(210, 74%, 36%);
$steelblue-500: hsl(210, 64%, 48%);
$steelblue-400: hsl(210, 70%, 58%);
$steelblue-300: hsl(210, 72%, 69%);
$steelblue-200: hsl(210, 79%, 85%);
$steelblue-100: hsl(211, 62%, 93%);

$darkslate-500: hsl(214, 20%, 27%);


$khaki-700: hsl(32, 23%, 58%);