@use './../abstract' as *

.forecast-list 
  display: flex
  gap: 1rem
  justify-content: space-evenly
  border-radius: 1rem
  flex-flow: row wrap
  max-width: 60%

@media ( min-width: 376px )
  .forecast-list
    // flex-flow: row wrap
  