@use './../abstract' as *

.forecast-list 
  display: flex
  gap: 1rem
  justify-content: space-evenly
  background: $white
  padding: 1rem 1.5rem
  border-radius: 1rem
  margin-block: 1rem
  flex-flow: row wrap