@use './../abstract' as *

.forecast-list 
  display: flex
  gap: 1rem
  justify-content: space-evenly
  border-radius: 1rem
  flex-flow: row wrap
  max-width: 26rem

  &__header 
    font-weight: 700
    margin-inline-end: auto
    padding-inline-start: .5rem
    animation: appearFromSide 1000ms cubic-bezier(.35,.06,.17,1) forwards
    opacity: .6 !important

@media ( min-width: 764px )
  .forecast-list
    // flex-flow: row wrap