@use '../abstract' as *
  
.header 
  margin-inline: auto
  text-align: center

  &__title
    font-size: 4rem
    font-weight: 900

    span 
      color: $accent

  p 
    font-size: 1rem
    font-weight: 300