@use '../abstract' as *
  
.header 
  min-width: 600px
  margin-inline: 2rem
  margin-block: 1rem 4rem

  &__title
    font-size: 3.5rem
    font-weight: 900

    span 
      color: $accent

  p 
    font-size: 1rem
    font-weight: 300

@media ( min-width: 764px )
  .header 
    text-align: center
  