@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans&family=Rubik&display=swap');
:root 
{
    --theme: light dark;

    --purple: hsl(283, 76%, 46%);
    --green: hsl(106, 72%, 45%);

    --orange: hsl(14, 76%, 44%);
    --red: hsl(0, 87%, 78%);

    --brown: hsl(32, 89%, 11%);

    --purple-light: hsl(283, 87%, 49%);
    --purple-dark: hsl(288, 79%, 17%);


    --primary-color: var(--purple);
    --secondary-color: var(--green);

    --dark-color: var(--purple-dark);
}

*
{
    font-family: 'Josefin Sans';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.register
{
    width: 320px;
    margin-inline: auto;

    border: 4px solid var(--primary-color);
    border-radius: 8px;

    padding: 8px 8px 5rem 8px;
}

.register__form > *
{

    display: block;
    position: relative;
    
}

.register__form>legend
{
    text-align: center;
    text-transform: uppercase;
}

.register__form>label, .register__form-input[type="submit"]
{
    margin-block-start: 12px;
}

.register__form-input[type="submit"]
{
    margin-inline-start: auto;
}

.play 
{
    display: flex;
    flex-direction: column;
    gap: 4px;


}

.play__buttons 
{
    margin: 16px auto;
}

.play__arena
{
    margin: auto auto;
    display: grid;         

    width: fit-content;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 4px;
    
    place-items: center;
    align-content: center;
    overflow: hidden;

    border: solid 4px var(--secondary-color);

    padding: 4px;

    border-radius: 8px;

}

.play__arena-area
{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    min-height: 100%;
    min-width: 100%;
    display: inline;
    text-align: center;

    height: 100%;
    place-items: center;
    padding-top: 30%;

    font-size: 40px;
    font-weight: 800;
    transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);

    border-radius: 4px;

    &:hover
    {
        transform: scale(.95);
    }
}

.play__themes
{
    margin-inline: auto;
    margin-top: 8px;
}

.colorpicker
{
    list-style: none;
    display: flex;
    cursor: pointer;

    justify-content: center;
    align-content: center;
    text-align: center;

    gap:8px
}

.colorpicker__selection
{
    --square: 1.7rem;
    width: var(--square);
    height: var(--square);
    
    border-radius: 500px;
    border: solid 2px black;

    transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.colorpicker__selection#theme1 
{
    background-color: var(--brown);
    border: solid 2px var(--purple);

    &:hover
    {
        background-color: var(--purple);
        border: solid 2px var(--brown);
    }
}

.colorpicker__selection#theme2 
{
    background-color: var(--orange);
    border: solid 2px var(--red);

    &:hover
    {
        background-color: var(--red);
        border: solid 2px var(--orange);
    }
}

.colorpicker__selection#theme3
{
    background-color: var(--purple);
    border: solid 2px var(--green);

    &:hover
    {
        background-color: var(--green);
        border: solid 2px var(--purple);
    }
}

.highlight
{
    animation: biggysmall 500ms ; 
    transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: var(--secondary-color) !important;
    color: var(--dark-color) !important;
}

button, input[type="button"]
{
    background-color: var(--secondary-color);
    padding: .5rem 2.5rem;

    text-transform: uppercase;
    font-weight: 600;
    border-radius: 8px;
    border: 0;

    color: var(--dark-color);

    transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover 
    {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
}



input[type="text"]
{
    padding: .5rem 1.5rem .5rem .5rem;

    font-weight: 600;
    width: 100%;
    border: solid 2px var(--secondary-color);
    border-radius: 8px;

    color: var(--dark-color);

    transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes biggysmall 
{
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(.85)
    }
    80% {
        transform: scale(1.05)
    }
    100% {
        transform: scale(1)
    }
}