@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Noto+Sans&family=Rubik&display=swap');
:root 
{
    --primary-color: hsl(236, 72%, 45%);
    --light-color: hsl(236, 100%, 87%);
}
*
{
    font-family: 'Josefin Sans';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.play_arena 
{
    
    margin: auto auto;
    display: grid;         

    width: fit-content;
    height: 100svh;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    
    place-items: center;
    align-content: center;
}

.play_area 
{
    background-color: var(--light-color);
    min-height: 100%;
    min-width: 100%;

    font-size: 40px;
    font-weight: 800;
}