@import url('./components/form.css');
@import url('./fonts/fonts.css');

* {
  margin: 0;
  padding: 0;

  font-family: 'Urbanist';
}

body
{
  background: hsl(150, 50%, 95%);
  /* background: white; */
}

div#main
{
  display: flex;
  gap: .5rem;

  justify-content: center;
}