.form {
  display: flex;
  gap: 2rem;
  flex-flow: row wrap;
  margin-block: 10rem;

  width: 40%;

  &__input {
    display: flex;
    flex-flow: column;
    margin-inline: auto;

    flex: 1 1 80%;

    position: relative;

    &-label {
      margin-inline-end: 0.5rem;
      font-weight: 600;

      &[for="submit"] {
        display: none;
      }
    }

    &-invalid {
      bottom: -1rem;
      font-size: smaller;
      position: absolute;

      color: red;
      pointer-events: none;
    }

    &-input,
    &-submit {
      margin-block-start: 0.5rem;
      background: hsl(150, 50%, 95%);
      border-radius: 4px;
      padding: 4px 8px;
      border: none;
      filter: drop-shadow(8px 3px 4px hsl(217, 72%, 18%, 19%))
        drop-shadow(-3px -5px 4px hsla(150, 50%, 100%, 100%));

      transition: 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);

      &:valid {
        border: 1px hsl(148, 49%, 85%) solid;
        border-radius: 4px;
      }

      &:hover, &:focus, &:active {
        filter: none;

        box-shadow: 3px 2px 4px hsl(217, 72%, 18%, 19%) inset,
          -2px -3px 4px hsla(150, 50%, 100%, 100%) inset;
      }
    }

    &-submit {
      margin-block-start: auto;
      margin-inline-start: auto;
      border: none;

      width: 80%;
      
      position: relative;
      min-height: 2.5rem;

      filter: none;

      &::before, &::after {
        content: "";
        inset: 0;
        z-index: 1;

        width: 95%;
        height: 75%;
        position: absolute;

        margin-inline: auto;
        margin-block: auto;

        border-radius: 3px;
        transition: 1250ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &::before {
        box-shadow: 3px 2px 4px hsl(217, 72%, 18%, 19%) inset,
          -2px -3px 4px hsla(150, 50%, 100%, 100%) inset;

        opacity: 1;
      }

      &::after {
        box-shadow: 3px 2px 4px hsl(217, 72%, 18%, 19%),
          -2px -3px 4px hsla(150, 50%, 100%, 100%);
        opacity: 0;
      }

      &:hover, &:focus, &:active {
        &::before {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }

      &:valid {
        border: none;
      }
    }
  }
}
