.form
  display: flex
  flex-flow: column wrap
  gap: 1rem
  border-radius: .75rem
  background: hsl(50deg 5% 95% / 35%)

  &__input

    &-label
      display: none

    &-input
      border-radius: 0px
      background-color: hsl(0deg 0% 50% / 0%)
      border: 0
      
      &:focus
        border-radius: 0
        outline: 0

  
    
