@use '../utilities' as *

.form
  display: flex
  flex-flow: column wrap
  border-radius: .75rem
  max-width: 25rem
  margin-inline: auto
  
  @include defaultBackground()

  &__input
    

    &-label
      display: none

    &-input
      border-radius: 0px
      background-color: hsl(0deg 0% 50% / 0%)
      border: 0
      color: hsl(47.08deg 80.6% 50.32%)
      

      &--small
        max-width: 150px

      &:focus
        border-radius: 0
        outline: 0

      &::placeholder
        font-weight: 600
        color: hsl(47.08deg 80.6% 50.32%)

    &-textarea
      resize: none
      width: 100%
  
  &__submit
    display: flex
    margin-inline-start: auto
    border-radius: 100svh
    max-width: 50px
    border: 0
    transition: 250ms background-color ease-in

    &:hover
      background-color: hsl(0deg 0% 50% / 60%)

 