@use '../utilities' as *
  
.form
  display: flex
  flex-flow: column wrap
  gap: 1rem
  border-radius: .75rem
  max-width: 25rem
  @include defaultBackground()

  &__input

    &-label
      display: none

    &-input
      border-radius: 0px
      background-color: hsl(0deg 0% 50% / 0%)
      border: 0
      
      &:focus
        border-radius: 0
        outline: 0

  
    
