@use '../abstracts' as *

.navbar
  display: flex
  background-color: var(--secondary)
  position: fixed
  top: 0
  z-index: 99
  min-width: 100%
  min-height: 2.5rem
  align-items: center

  justify-content: space-between

  &__header
    font-size: 2rem
    font-weight: 800
    margin-inline-start: 1rem

    &-main
      color: var(--primary)

    &-sub
      font-size: 1rem
      margin-inline-start: .25rem

  &__theme-switcher
    margin-inline-end: 1rem

    &--moon
      background-color: var(--night-button) 

      &:hover
        background-color: var(--day-button)
      
        & .navbar__theme-switcher-icon--moon
          stroke: var(--night-button)

    &--sun
      background-color: var(--day-button)

      &:hover
        background-color: var(--night-button)
      
        & .navbar__theme-switcher-icon--moon
          stroke: var(--day-button)
    
    &-icon
      fill: var(--highlight)

      &--moon
        stroke: var(--day-button)
        
      &--sun
        stroke: var(--night-button)