@use '../abstracts' as *
  
.todo-list
  display: flex
  gap: 1.25rem
  margin-inline: auto
  // justify-content: center
  // width: 95%
  flex-flow: column wrap
  margin-block: .5rem
  padding: .5rem 1rem 3rem 1rem
  overflow: hidden
  // transition: 1000ms linear ease-in
  border-radius: .75rem
  backdrop-filter: blur(.5rem)

  &__header
    color: var(--accent)
    order: -2
    font-size: 2rem
    font-weight: 700
    // flex: 1 1 100%
    // filter: drop-shadow(0 0 .25rem hsl(0deg 0% 0.86% / 55%))

  &__todos
    // opacity: 0
    animation: 500ms cubic-bezier(0.27, 0.32, 0, 1.03) fadeIn forwards

    &--priority
      order: -1

@media (min-width: 768px) 
  .todo-list
    // justify-content: space-between


@keyframes fadeIn
  0%
    transform: translateY(-200px)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 100
