.todo-list
  display: flex
  gap: 1rem
  flex-flow: row wrap
  margin-block: .5rem
  border: .025rem solid black
  padding: .5rem

  &__header
    order: -2
    font-size: 3rem
    font-weight: 700
    flex: 1 1 100%

  &__todos

    &--priority
      order: -1
