:root
  --night-button: hsl(268,81%,33%)

  --day-button: hsl(50, 50%, 50%)
  --highlight: hsl(40, 50%, 50%)


:root[data-theme="light"]

  --text: hsl(43, 41%, 10%)
  --text-light: hsl(43 41% 10% / .5)

  --background: hsl(42, 43%, 91%)

  --primary: hsl(221, 43%, 37%)
  --accent: hsl(221, 43%, 49%)

  --secondary: hsl(40, 43%, 85%)


  --accent-dark: hsl(221, 43%, 19%)

  --negative-900: hsl(0, 80%, 80%)
  --negative-800: hsl(0, 80%, 70%)
  --negative-700: hsl(0, 80%, 60%)
  --negative-600: hsl(0, 80%, 53%)
  --negative-500: hsl(0, 80%, 45%)
  --negative-400: hsl(0, 80%, 35%)
  --negative-300: hsl(0, 80%, 25%)
  --negative-200: hsl(0, 80%, 20%)
  --negative-100: hsl(0, 80%, 15%)
  
  --positive-900: hsl(120, 80%, 75%)
  --positive-800: hsl(120, 80%, 65%)
  --positive-700: hsl(120, 80%, 55%)
  --positive-600: hsl(120, 80%, 45%)
  --positive-500: hsl(120, 80%, 35%)
  --positive-400: hsl(120, 80%, 25%) 
  --positive-300: hsl(120, 80%, 15%) 
  --positive-200: hsl(120, 80%, 10%) 
  --positive-100: hsl(120, 80%,  5%)

:root[data-theme="dark"]
  --text: hsl(43, 41%, 90%)
  --text-light: hsl(43 21% 55%)

  --background: hsl(42, 43%, 9%)

  --primary: hsl(221, 43%, 63%)

  --secondary: hsl(40, 43%, 11%)

  --accent: hsl(221, 43%, 51%)

  --negative-900: hsl(0, 100%, 80%)
  --negative-800: hsl(0, 100%, 70%)
  --negative-700: hsl(0, 100%, 60%)
  --negative-600: hsl(0, 100%, 50%)
  --negative-500: hsl(0, 100%, 45%)
  --negative-400: hsl(0, 100%, 35%)
  --negative-300: hsl(0, 100%, 25%)
  --negative-200: hsl(0, 100%, 20%)
  --negative-100: hsl(0, 100%, 15%)
  
  --positive-900: hsl(120, 100%, 75%)
  --positive-800: hsl(120, 100%, 65%)
  --positive-700: hsl(120, 100%, 55%)
  --positive-600: hsl(120, 100%, 45%)
  --positive-500: hsl(120, 100%, 35%)
  --positive-400: hsl(120, 100%, 25%) 
  --positive-300: hsl(120, 100%, 15%) 
  --positive-200: hsl(120, 100%, 10%) 
  --positive-100: hsl(120, 100%,  5%)