:root
  --night-button: hsl(268,81%,33%)
  --day-button: hsl(50, 50%, 50%)
  --highlight: hsl(40, 50%, 50%)

  
:root[data-theme="light"] 
  --text: hsl(43, 41%, 10%)
  --text-light: hsl(43 41% 10% / .5)

  --background: hsl(42, 43%, 91%)

  --primary: hsl(221, 43%, 37%)

  --secondary: hsl(40, 43%, 89%)


  --accent: hsl(221, 43%, 49%)
  
  --accent-dark: hsl(221, 43%, 19%)


:root[data-theme="dark"] 
  --text: hsl(43, 41%, 90%)
  --background: hsl(42, 43%, 9%)

  --primary: hsl(221, 43%, 63%)

  --secondary: hsl(40, 43%, 11%)

  --accent: hsl(221, 43%, 51%)

