@use '../abstracts/' as *;


.best-seller
{
    padding: 1rem;

    display: flex;
    flex-flow: column wrap; 

    width: clamp(27rem, 80%, 40rem);

    margin-inline: auto;
    
    &__title
    {
        text-align: center;
        font-size: 2rem;
        font-weight: 800;

        color: $golden-500;
    }

    &__item
    {
    }

    
}