@use '../abstracts/' as *;


.best-seller
{
    padding: 1rem 1rem 0 1rem;

    display: flex;
    flex-flow: column wrap; 
    

    width: clamp(27rem, 80%, 40rem);

    margin-inline: auto;

    isolation: isolate;
    

    &__title
    {
        text-align: center;
        font-size: 2rem;
        font-weight: 800;

        color: $golden-500;
    }

    &__item
    {
    position: relative;
    
    
    &::before
        {
            position: absolute;
            content: "";

            top: 0;
            left: -50px;
            right: -200px;
            bottom: 0;
            height: 220px;
            
            border: solid .175rem $golden-600;

            background-color: $steelblue-600;
            z-index: -1;
            clip-path: polygon(100% 0, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
        }

    }

    
}