@use "../abstracts/" as *;

.header-navigation {
  position: fixed;
  top: 0;

  z-index: 1;

  padding-inline: 1rem;

  background-color: hsla(210, 75%, 36%, 0.5);
  backdrop-filter: blur(4px);
  width: 100%;

  display: flex;
  justify-content: center;

  flex-flow: row wrap;

  transition: 700ms all cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 0 8px 5px hsla(210, 100%, 0%, 0.3);

  &--scrolled
  {
    background-color: $steelblue-600;
    padding-block: .35rem;
  }

  &__logo
  {
    color: $golden-500;
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.5rem;
    // margin-block-start: 1rem;
    word-break: keep-all;
    letter-spacing: 0.05rem;

  }
}
