@use "../abstracts/" as *;

.header-navigation {
  position: fixed;
  top: 0;

  z-index: 1;

  padding-inline: 1rem;

  background-color: hsla(210, 75%, 36%, 0.5);
  backdrop-filter: blur(4px);
  width: 100%;

  display: flex;
  justify-content: center;

  flex-flow: row wrap;

  &__logo
  {
    color: $golden-500;
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.5rem;
    // margin-block-start: 1rem;
    word-break: keep-all;
    letter-spacing: 0.05rem;

  }
}
