@use "../abstracts/" as *;

.item {
  display: flex;
  gap: 0.75rem;
  margin-block: 1rem 0;
  flex-flow: column wrap;
  padding: 0.5rem 1rem;
  width: 320px;

  background-color: white;

  &__image {
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    position: relative;
   margin-inline: auto; 
    isolation: isolate;

    & > img {
      aspect-ratio: 1/1;
      object-fit: cover;

      border-left: 0.25rem solid $golden-500;
      object-position: center;
      max-height: 200px;
      min-height: 200px;
    }

  }

  &__info {
    

    flex: 1 0 1/2;

    &-title {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 500;
    }

    &-description {
      word-break: break-all;

      font-weight: 300;
    }

    &-action {
      background-color: $golden-500;
      max-width: fit-content;
      margin-block-start: 1rem;

      &:hover
      {
        background-color: $golden-400;
      }
    }
  }
}

@media (min-width: 780px) {
  .item {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    // &__info
    // {
    //   &-title
    //   {

    //   }
    // }
  }
}
