@use '../abstracts/' as *;

.item 
{
    display: flex;

    gap: .75rem;

    margin-block: 1rem 0;

    flex-flow: column wrap;

    padding: .5rem 1.5rem;

    // background-color: white;

    &__image 
    {
        min-height: 200px;
        max-width: 200px;
        max-height: 200px;
        position: relative;

        isolation: isolate;
        & > img
        {
            aspect-ratio: 1/1;
            object-fit: cover;

            object-position: center;
            max-height: 200px;
            min-height: 200px;
        }

        &::before
        {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            transform: translate(-5px, 5px);
            z-index: -1;
            border: .15rem solid $golden-600;
            
        }
    }

    &__info
    {

        color: $steelblue-100;

        &-title
        {
            font-size: 2rem;
            text-transform: uppercase;
            // color: $golden-500;
            font-weight: 300;
        }

        &-description
        {
            word-break: break-all;
        }

        &-action
        {
            background-color: $golden-500;
            max-width: fit-content;
            margin-block-start: 1rem;
        }
    }

}

@media (min-width: 640px) 
{
    .item
    {
        flex-flow: row wrap;
    }

}