@use "../abstracts/" as *;

.item {
  display: flex;
  gap: 0.75rem;
  margin-block: 1rem 0;
  flex-flow: column wrap;
  padding: 0.5rem 1.5rem;

  &__image {
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    position: relative;

    isolation: isolate;

    & > img {
      aspect-ratio: 1/1;
      object-fit: cover;

      border-left: 0.25rem solid $golden-500;
      object-position: center;
      max-height: 200px;
      min-height: 200px;
    }

    // &::before
    // {
    //     content: '';
    //     position: absolute;
    //     top: 8px;
    //     left: 4px;
    //     bottom: 8px;
    //     right: 0;

    //     transform: translate(-10px, 0);
    //     z-index: -1;
    //     border: .15rem solid $golden-500;

    // }

    // &::after
    // {
    //     content: '';
    //     position: absolute;
    //     top: 8px;
    //     left: 0;
    //     bottom: 8px;
    //     right: 4px;

    //     transform: translate(10px, 0);
    //     z-index: -1;
    //     border: .15rem solid $golden-500;

    // }
  }

  &__info {
    color: $steelblue-100;

    flex: 1 0 1/2;

    &-title {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 300;
    }

    &-description {
      word-break: break-all;

      font-weight: 300;
    }

    &-action {
      background-color: $golden-500;
      max-width: fit-content;
      margin-block-start: 1rem;

      &:hover
      {
        background-color: $golden-400;
      }
    }
  }
}

@media (min-width: 780px) {
  .item {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;

    &__info
    {
      &-title
      {

      }
    }
  }
}
