@use "../abstracts/" as *;

.menu {
  margin-block: 2rem;
  width: 100%;
  min-height: 1000px;
  margin-inline: auto;

  .navigation {
    place-content: center;
  }

  &__items {
    display: flex;
    // height: 1000px;
    gap: 8px;

    flex-wrap: wrap;
    justify-content: center;

    &-content {
      margin-block-start: 1rem;
      text-align: center;
      place-self: center;
    }
  }
}

@media (min-width: 780px) {
.menu {
  width: 70%
}
}
