@use '../abstracts/' as *;

.menu
{
    margin-block: 2rem;
    width: 70%;

    margin-inline: auto;
    &__items
    {
        display: flex;

        gap: 8px;
        
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 640px)
{

}