@use "../abstracts/" as *;

.navigation {
  display: flex;
  margin-block: 1rem 1rem;

  &__items {
    &-item {
      transition: color 150ms ease-in-out;
      &:hover {
        color: $steelblue-600;
      }
    }
  }
  .active {
    color: $golden-500;
  }
}
