@use "../abstracts/" as *;

.product {
  display: flex;
  gap: 0.75rem;
  // margin-block: 1rem 0;
  flex-flow: column wrap;
  padding: 0.5rem 0.5rem;
  width: 240px;

  background-color: white;

  &__image {
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    position: relative;
    margin-inline: auto;
    isolation: isolate;

    & > img {
      aspect-ratio: 1/1;
      object-fit: cover;

      border-left: 0.25rem solid $golden-500;
      object-position: center;
      max-height: 200px;
      min-height: 200px;
    }
  }

  &__info {
    display: flex;
    flex-flow: column;

    // min-height: 100%;

    &-title,
    &-price {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 500;
    }

    &-description {
      word-break: normal;
      max-width: 100%;
      font-weight: 300;
    }

    &-price {
      margin-block: 8px;

      &::after {
        content: "$";
        font-size: 1rem;
        position: absolute;
      }
    }

    &-action {
      display: block;
      background-color: $golden-500;
      // max-width: fit-content;

      flex: 1 1 auto;
      margin-block-start: 3rem;

      &:hover {
        background-color: $golden-400;
      }
    }

    &-category {
      margin-inline-end: 4px;
      padding-block: 2px;
      padding-inline: 8px;

      font-size: 0.75rem;
      line-height: 2;
      border-radius: 100svh;
      background-color: $steelblue-200;
    }
  }
}

@media (min-width: 780px) {
  .product {
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 600px;
    min-height: auto;
    &__info {
      flex: 1 0 20rem;
      // flex-direction: column;
    }
  }
}
